<!DOCTYPE html>
<html>
<head>
	<h3>Please Enter New Patient Data</h3>
</head>
	<body>
		<center>
			<form method="POST">
				{% csrf_token %}
				PatientKey: <input type="text" name="PatientKey" placeholder="Enter Patient Key"/><br/>
				DoctorKey: <input type="text" name="DoctorKey" placeholder="Enter Doctor Key"/><br/>
				FirstName: <input type="text" name="FirstName" placeholder="Enter Patient First Name"/><br/>
				MiddleName: <input type="text" name="MiddleName" placeholder="Enter Patient Middle Name"/><br/>
				LastName: <input type="text" name="LastName" placeholder="Enter Patient Last Name"/><br/>
				PhoneNumber: <input type="text" name="PhoneNumber" placeholder="Enter Patient Phone Number"/><br/>
				<hr/>
				<input type="submit" value="Save"/>
				<hr/>
				{% if messages %}
				{% for displaydata in messages %}
				<h3 style="color: green;">{{displaydata}}</h3>
				{% endfor %}
				{% endif %}
			</form>
		</center>
	</body>
</html>